:root {
  --default-color: #212121;
  --hover-color: #2196f3;
  --white-color: #fff;
  --paragraph-color: #757575;
  --background-color: #2f303a;
}

body {
  font-family: 'Roboto', 'sens-serif';
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* header */

.nav-logo {
  font-family: 'Raleway';
  font-size: 26px;
  color: var(--default-color);
  font-weight: 700;
  letter-spacing: 0.03em;
}
.nav-logo > span {
  color: var(--hover-color);
}
.nav-list {
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
li > .port:visited {
  color: var(--hover-color);
}

li > .studio:visited {
  color: var(--hover-color);
}

.nav-link:visited,
.nav-link:active {
  color: var(--default-color);
}
.nav-link:hover {
  color: var(--hover-color);
}

.link-contacts {
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link-contacts:hover {
  color: var(--hover-color);
}

/* hero */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: var(--white-color);
  text-align: center;
}
.hero-btn {
  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0px;
}
/* preferences */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pref-title {
  color: var(--default-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
}
.pref-text {
  color: var(--paragraph-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

/* work */
.work-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

/* team */

.team {
  background: #f5f4fa;
}
.team-wrapper {
  color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  color: var(--default-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.team-worker {
  font-size: 16px;
  color: var(--default-color);
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-text {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
}
/* footer */

address {
  font-style: normal;
}
.footer {
  background: var(--background-color);
}
.footer-logo {
  font-family: 'Raleway';
  font-size: 26px;
  color: var(--white-color);
}
.footer-logo > span {
  color: var(--hover-color);
}

.footer-map {
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
}
.footer-map:hover {
  color: var(--hover-color);
}

/* portfolio menu */
.portfolio {
  background: #e5e5e5;
}

.works-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
.work-item {
}
.work-item-btn {
  background: #f5f4fa;
  border-radius: 4px;
  height: 38px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  border: 0;
}

li > .all {
  color: var(--white-color);
  background-color: var(--hover-color);
}

.work-item-btn:hover {
  background: var(--hover-color);
  color: var(--white-color);
}

/* portfolio works */
.project-item {
  box-sizing: border-box;
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--default-color);

  letter-spacing: 0.06em;
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  letter-spacing: 0.03em;
}
